# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# Jupyter
.ipynb_checkpoints

# VSCode
.vscode/

# macOS
.DS_Store

# Data
/data/*
!/data/README.md

# Env
.env
venv/
.venv/
poetry.lock

# Logs
*.log

# 기타
*.sqlite3
BND_ADM_DONG_PG/*.shp
